* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #1f3a54;
  }
  
  .logo {
    cursor: pointer;
  }
  
  .nav__links a,
  .cta,
  .overlay__content a {
    font-family: Gotcham;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    color: #edf0f1;
    text-decoration: none;
  }
  
  .nav__links {
    list-style: none;
    display: flex;
  }
  
  .nav__links li {
    padding: 0px 20px;
  }
  
  .nav__links li a {
    transition: color 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #f0453f;
  }
  
  .cta {
    padding: 9px 25px;
    background-color: rgb(240, 69, 63, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
  }
  
  .cta:hover {
    background-color: rgb(240, 69, 63, 0.8);
  }
  
  /* Mobile Nav */
  
  .menu {
    display: none;
  }
  
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #24252a;
    overflow-x: hidden;
    transition: width 0.5s ease 0s;
  }
  
  .overlay--active {
    width: 100%;
  }
  
  .overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: color 0.3s ease 0s;
  }
  
  .overlay a:hover,
  .overlay a:focus {
    color: #f0453f;
  }
  .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px;
    }
    .overlay .close {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .nav__links,
    .cta {
      display: none;
    }
    .menu {
      display: initial;
    }
  }

  @media only screen and (max-width: 800px) {
    .hideonmob {
      display: none;
    }
  }

  

  @font-face {
    font-family: Gotcham;
    src: url(/assets/fonts/Gotham-Black.otf);
  }

  @font-face {
    font-family: Gotchamlight;
    src: url(/assets/fonts/GothamBook.ttf);
  }

  .topscreen {
    margin-top: 8%;
  }

  h1 {
    font-family: Gotchamlight;
  }
  
  .mtgeneral {
    margin-top: 150px;
  }

  .meetbutton {
    width: 25%;
    height: 30px;
    background-color: #f0453f;
    color: white;
    font-family: Gotcham;
    border: none;
    font-size: 1vw;
    border-radius: 20px;
  }

  @media only screen and (max-width: 800px) {
    .meetbutton {
      font-size: 3vw;
    }
  }

  .mebutton {
    margin-right: 80px;
  }

  .meetbu {
    margin-left: 80px;
  }

  .thinking {
    margin-right: 80px;
  }

  .emperor {
    margin-left: 80px;
  }

  .thinking, .emperor {
    width: 25%;
    height: 50px;
    background-color: #1f3a54;
    color: white;
    font-family: Gotcham;
    border: none;
    font-size: 1vw;
    border-radius: 20px;
  }

  .emperor {
    margin-right: 20px;
  }

  @media only screen and (max-width: 800px) {
    .thinking, .emperor {
      font-size: 3vw;
    }
  }

  .commentinput {
    user-select: none;
    text-decoration: none;
    border-radius: 10px;
    margin-right: 25px;
    width: 20%;
    height: 50px;
    border: none;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.534);
  }

  .commentbutton {
    border: none;
    font-family: Gotcham;
    width: 10%;
    height: 50px;
    user-select: none;
    color: white;
    border-radius: 25px;
    background-color: rgb(240, 69, 63, 1);
  }

  .commentbutton:hover {
    background-color: rgb(240, 69, 63, 0.8);
  }

  @media only screen and (max-width: 800px) {
    .commentinput {
      margin-right: 10px;
      width: 45%;
    }
  }

  @media only screen and (max-width: 800px) {
    .commentbutton {
      margin-left: 10px;
      width: 45%;
    }
  }
